receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317

processors:
  batch:
    send_batch_size: 1000
    timeout: 5s

  resource:
    attributes:
      - key: deployment.environment
        value: dev
        action: insert

exporters:
  elasticsearch:
    endpoints: ["http://elasticsearch:9200"]
    logs_index: "rocket-shop-logs"
    mapping:
      mode: ecs

service:
  pipelines:
    logs:
      receivers: [otlp]
      processors: [resource, batch]
      exporters: [elasticsearch]
